@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

/*remove bullets from list, remove left-indent in all browsers*/
#navcontainer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	position: fixed*/;
}

/*force the words in list into one line with spaces between blocks*/
#navcontainer ul li {
	display:inline-block;
	margin-left: 0.05em;
	margin-right: 0.05em;
}

/*remove underline from words in list display block makes them padded*/
#navcontainer ul li a {
	display:block;
	min-width: 7em;
	height: 3em;
	text-align: center;
	line-height: 3em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
#navcontainer ul li a:hover {
	background: #19c589;
}

/*Style for dropdown links*/
ul.navbar li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 3em;
	line-height: 3em;
}

/*Hover state for dropdown links*/
ul.navbar li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}


